---
import { Image } from "astro:assets";

const { icon, item, quantity, weight, chance } = Astro.props;
---
<tr class="hover:bg-slate-50">
    <td class="p-4 border-b border-slate-200 py-5"><p class="inline"><Image src={icon} alt={item} width={32} height={32}/>{item}</p></td>
    <td class="p-4 border-b border-slate-200 py-5">{quantity}</td>
    <td class="p-4 border-b border-slate-200 py-5">{chance}%</td>
</tr>